<!DOCTYPE html>

<html>
<%- include('partials/header') %>
<body>

<div class="container   mt-5  px-5 border">

    <h3 class="text-center mb-5">Scannez ce QR Code pour vous authentifiez</h3>
    <p class="text-center"><a target="_blank" href="/submit-qr">Authentification manuellement</a></p>

    <div class="container text-center mt-5">
        <img src='<%= qr_data %>' class="qr_image" alt='QR Code Image'/>
    </div>

</div>


<%- include('partials/scripts') %>
<script>
    const title = '<%- title %>'
    const uid = '<%- id %>'
</script>
<script src="/js/index.js"></script>

</body>
</html>